{% extends 'admin/base.html' %}

{% block head_css %}
    {{ super() }}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body { padding-top: 20px; }
        .navbar { margin-bottom: 20px; }
        .table { margin-top: 20px; }
    </style>
{% endblock %}

{% block page_body %}
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">{{ admin_view.admin.name }}</a>
                </div>
                <div class="collapse navbar-collapse" id="admin-navbar-collapse">
                    {% block main_menu %}
                    <ul class="nav navbar-nav">
                        {{ layout.menu() }}
                    </ul>
                    {% endblock %}
                    {% block menu_links %}
                    <ul class="nav navbar-nav navbar-right">
                        {{ layout.menu_links() }}
                        {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('admin.logout') }}">Sair</a></li>
                        {% endif %}
                    </ul>
                    {% endblock %}
                </div>
            </div>
        </nav>

        {% block messages %}
            {{ layout.messages() }}
        {% endblock %}

        {% block body %}{% endblock %}
    </div>
{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
